/*  your css code here. If applicable */
:root{
	
	background-color:rgb(135, 206, 235);
}

#first{
	color:white;
	background-color:black;
}
#last{
	color:red;
}

#fi{
	padding:5px;
	background-color:white;
}
#si{
	padding:5px;
	background-color:#6c757d;
}
#ti{
	padding:5px;
	background-color:pink;
}